@import "./fonts";
@import "./vars";
@import "./media";

// Common Us
body {
	margin: 0;
}
// Container
.container {
	margin: 0;

	// Navigation Bar Top

	.navigationBar {
		background: #ffffff;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		.navbar {
			margin: 0 135px;
			height: 100px;
			display: flex;
			justify-content: space-around;
			text-align: center;
		}
	}
	.navImg {
		transform: translateY(30%);
	}
	.navigation {
		transform: translateY(40%);
		display: flex;
		justify-content: space-evenly;
	}
	.navigation a {
		text-decoration: none;
		margin-left: 38px;
		font-family: Work Sans;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 123.6%;
		text-align: center;
		color: #373737;
	}
	.lightImg {
		transform: translateY(40%);
		img {
			width: 24px;
			height: 24px;
		}
	}
	// button
	.buttonContact {
		width: 150px;
		height: 50px;
		background: #ff5300;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}
	// Digital Agency Page

	.digitalText {
		position: relative;
		display: flex;
		justify-content: space-around;
		background: #fff7f4;
	}
	.bestDigital {
		display: flex;
		flex-direction: column;
		width: 493px;
		height: 380px;
		margin: 135px;
	}
	.bestDigital h1 {
		margin: 0;
		font-family: Work Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 123.6%;
		text-transform: capitalize;
		color: #373737;
	}
	.bestDigital h2 {
		margin: 0;
		font-family: Work Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150.6%;
		color: #7b7b7b;
	}
	.bestDigital span {
		font-family: Work Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		line-height: 123.6%;
		text-transform: capitalize;
		color: red;
	}
	.bestDigitalIcon {
		transform: translateY(0%);
		display: flex;
		width: 639px;
	}
	.digitalSocialIcon {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0;
		top: 30%;
	}
	.digitalSocialIcon a {
		display: flex;
		width: 40px;
		height: 40px;
		background: #ffffff;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
	}
	.digitalSocialIcon a:nth-child(1) {
		display: flex;
		width: 40px;
		height: 40px;
		background: #ff5300;
		box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
	}
	.faceBook img:nth-child(1) {
		padding-left: 6px;
	}

	.digitalSocialIcon img {
		transform: translateX(50%);
	}

	// ideasBetter Page 2

	.ideasBetter {
		margin: 253px 138px 153px 135px;
		display: flex;
		justify-content: space-around;
	}
	.ideasText {
		width: auto;
		transform: translateY(-25%);
	}
	.ideasText h2 {
		font-family: Work Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150.6%;
		color: #7b7b7b;
	}
	.ideasText h3 {
		font-family: Work Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 39.06px;
		line-height: 123.6%;
		color: #373737;
	}
	.ideasText span {
		font-family: Work Sans;
		font-style: normal;
		font-weight: 600;
		font-size: 39.06px;
		line-height: 123.6%;
		color: red;
	}
	.ideasText h4 {
		font-family: Work Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150.6%;
		color: #7b7b7b;
	}
	.forWhat {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.blockWhat {
		margin: 25px 33px 21px 31px;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		width: 270px;
		height: 200px;
		display: flex;
		justify-content: center;
		text-align: center;
		.divText {
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			background: #ffffff;
		}
	}
	.blockWhat p {
		width: 177px;
		height: 48px;
		text-align: center;
		font-family: Work Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 150.6%;
		text-align: center;
		color: #373737;
	}
	.whatImg {
		transform: translateX(80%);
		width: 70px;
		height: 70px;
		border-radius: 50px;
	}
	.blockWhatFile {
		background: #ff5300;
		box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
	}
	.blockWhatFile img {
		transform: translateY(80%);
	}
	.blockWhatCode {
		background: #7b7b7b;
		box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
	}
	.blockWhatCode img {
		transform: translateY(140%);
	}
	.blockWhatSettings {
		background: #00acff;
		box-shadow: 4px 5px 15px rgba(0, 194, 255, 0.4);
	}
	.blockWhatSettings img {
		transform: translateY(80%);
	}
	.blockWhatLink {
		background: #373737;
		box-shadow: 4px 5px 15px rgba(0, 0, 0, 0.4);
	}
	.blockWhatLink img {
		transform: translateY(90%);
	}
	// Top Projects Page 3

	.expereinceTop {
		display: flex;
		justify-content: space-around;
		transform: translateY(10%);
		background: #fff7f4;
		.expBody {
			display: flex;
			justify-content: space-around;
			flex-direction: row;
			margin: 135px 60px;
		}
		.topProjects {
			h2 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				color: #7b7b7b;
			}
			h3 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				color: #373737;
			}
			span {
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				color: red;
			}
			h4 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				color: #7b7b7b;
			}
		}
		.blocked {
			display: flex;
			flex-direction: row;
		}
		.blockNumbersOne {
			margin: 10px;
			display: flex;
			flex-direction: column;
		}
		.blockNumbersTwo {
			transform: translateY(5%);
			margin: 10px;
			display: flex;
			flex-direction: column;
		}
		.topBlocks {
			margin: 10px;
			width: 270px;
			height: 250px;
			display: flex;
			text-align: center;
			flex-direction: column;
			background: #ffffff;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
			h2 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: bold;
				font-size: 48px;
				line-height: 123.6%;
				text-transform: capitalize;
				color: #373737;
			}
			h3 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 123.6%;
				color: #7b7b7b;
			}
		}
	}
	// Team Member
	.membersTeam {
		display: flex;
		text-align: center;
		flex-direction: column;
		transform: translateY(10%);
		margin: 10px, 135px;
		h2 {
			margin-top: 3%;
			font-family: Work Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150.6%;
			color: #7b7b7b;
		}
		h3 {
			margin: 0;
			font-family: Work Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 39.06px;
			line-height: 123.6%;
			text-align: center;
		}
		span {
			font-family: Work Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 39.06px;
			line-height: 123.6%;
			text-align: center;
			color: red;
		}
	}
	.peoplesFace {
		transform: translateY(10%);
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.peopleBlock {
		width: 270px;
		height: 350px;
		text-align: center;
		h2 {
			font-family: Work Sans;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 123.6%;
			color: #000000;
		}
		h3 {
			font-family: Work Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 150.6%;
			color: #7b7b7b;
		}
	}
	.gustavoBlock {
		position: relative;
		.peopleSocialIcon {
			top: 10%;
			right: 0;
			position: absolute;
			a {
				margin-bottom: 10%;
			}
		}
	}
	// ourWork Disigned Projects

	.ourWork {
		margin: 135px 136px 135px 135px;
		.workBody {
			display: flex;
			justify-content: center;
			text-align: center;
			flex-direction: column;
		}
		.headerWork {
			display: flex;
			justify-content: center;
			text-align: center;
			flex-direction: column;
			h2 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				text-align: center;
				color: #7b7b7b;
			}
			h3 {
				margin: 0;
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				text-align: center;
				color: #373737;
			}
			span {
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				text-align: center;
				color: red;
			}
		}
		.headerWorkNav {
			display: flex;
			justify-content: space-evenly;
			a {
				margin: 0;
				padding: 0;
				margin-top: 3%;
				text-decoration: none;
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				color: #7b7b7b;
			}
		}
		.projectsImg {
			transform: translateY(10%);
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin: 0;
		}
	}
	// Feedback of People
	.feedBack {
		background: #fff7f4;
		height: 640px;
		display: flex;
		flex-direction: column;
		text-align: center;
		.headerFeedback {
			h2 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				text-align: center;
				color: #7b7b7b;
			}
			h3 {
				margin: 0;
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				text-align: center;
				color: #373737;
			}
			span {
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				text-align: center;
				color: red;
			}
		}
		.peopleFeedback {
			transform: translateY(10%);
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
		}
		.people {
			transform: translateY(20%);
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 470px;
			height: 250px;
			background: #ff5300;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
			img {
				display: flex;
				transform: translate(-50%, 20%);
			}
			.peopleText {
				margin: 34px 35px 25px 65px;
				position: absolute;
				display: flex;
				flex-direction: column;
				justify-content: center;
				text-align: left;
			}
			h2 {
				margin: 0;
				font-family: Work Sans;
				font-style: normal;
				font-weight: 500;
				font-size: 25px;
				line-height: 123.6%;
				color: #ffffff;
			}
			h3 {
				transform: translateX(-38.5%);
				margin: 0;
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				text-align: center;
				color: #ffffff;
			}
			.manDir {
				transform: translateX(-34%);
			}
			h4 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				color: #ffffff;
			}
		}
		.doublePoint {
			display: flex;
			justify-content: center;
			transform: translateY(900%);
		}
	}
	// Blog Latest

	.blogLatest {
		margin: 135px;
		.blogBody {
			display: flex;
			justify-content: space-around;
			text-align: center;
			flex-direction: column;
		}
		.headerBlog {
			margin-bottom: 2%;
			h2 {
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				text-align: center;
				color: #7b7b7b;
			}
			h3 {
				margin: 0;
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				text-align: center;
				color: #373737;
			}
			span {
				font-family: Work Sans;
				font-style: normal;
				font-weight: 600;
				font-size: 39.06px;
				line-height: 123.6%;
				text-align: center;
				color: red;
			}
		}
		.blogBlock {
			display: flex;
			justify-content: space-around;
			text-align: center;
			.headerBlog {
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					text-align: center;
					color: #7b7b7b;
				}
				h3 {
					margin: 0;
					font-family: Work Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 39.06px;
					line-height: 123.6%;
					text-align: center;
					color: #373737;
				}
				span {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 39.06px;
					line-height: 123.6%;
					text-align: center;
					color: red;
				}
			}
			.blogMenu {
				margin: 1%;
				position: relative;
				display: flex;
				text-align: center;
				flex-direction: row;
				background: #ffffff;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
				.blogText {
					display: flex;
					flex-direction: row;
					justify-content: center;
				}
				.blogImg {
					display: flex;
					width: 164px;
					height: 164px;
					margin: 1px;
				}
				.textBlogMenu {
					border: 2px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					text-align: left;
					h2 {
						font-family: Work Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 16px;
						line-height: 150.6%;
						color: #ff5300;
					}
					h3 {
						margin: 0;
						width: 308px;
						height: 93px;
						font-family: Work Sans;
						font-style: normal;
						font-weight: 500;
						font-size: 25px;
						line-height: 123.6%;
						color: #373737;
					}
					h4 {
						margin: 0;
						font-family: Work Sans;
						font-style: normal;
						font-weight: 500;
						font-size: 20px;
						line-height: 123.6%;
						text-align: center;
						color: #373737;
					}
					img {
						width: 80px;
						height: 80px;
					}
					.divTextAuthor {
						transform: translate(10%, -120%);
						display: flex;
						text-align: center;
						flex-direction: column;
						h4 {
							font-family: Work Sans;
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 123.6%;
							text-align: center;
							color: #373737;
						}
						h5 {
							margin: 0;
							transform: translateX(7%);
							font-family: Work Sans;
							font-style: normal;
							font-weight: normal;
							font-size: 16px;
							line-height: 150.6%;
							color: #7b7b7b;
						}
						img {
							display: absolute;
							right: 0;
							width: 80px;
							height: 80px;
						}
					}
					.divTextAuthor2 {
						h5 {
							transform: translateX(14%);
						}
					}
				}
			}
		}

		.doublePoint2 {
			display: flex;
			justify-content: center;
			margin-top: 5%;
		}
	}
	// Free Contacts

	.freeContact {
		margin: 0 135px 0 42px;
		transform: translateX(3%);
		.contactBody {
			display: flex;
			justify-content: center;
			text-align: center;
			flex-direction: column;
			.frContact {
				display: flex;
				justify-content: center;
				text-align: center;
				flex-direction: column;
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #7b7b7b;
				}
				h3 {
					margin: 0;
					font-family: Work Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 39.06px;
					line-height: 123.6%;
					text-align: center;
					color: #373737;
				}
				span {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 39.06px;
					line-height: 123.6%;
					text-align: center;
					color: red;
				}
			}
			.messageBlock {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				transform: translateY(10%);
				.mailDrop {
					display: flex;
					flex-direction: column;
					text-align: center;
					width: 370px;
					height: 230px;
					background: #ffffff;
					box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
					.topBlockMail {
						display: flex;
						flex-direction: row;
						.mailUs {
							transform: translate(20%, 10%);
							width: 75px;
							height: 75px;
							border-radius: 50%;
							background: #ff5300;
							box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
							img {
								transform: translateY(50%);
							}
						}
						.dropMail {
							transform: translateY(-10%) translateX(20%);
							display: flex;
							flex-direction: column;
							text-align: center;
							h2 {
								font-family: Work Sans;
								font-style: normal;
								font-weight: 500;
								font-size: 25px;
								line-height: 123.6%;
								color: red;
							}
							h3 {
								transform: translateX(-4%);
								margin: 0;
								font-family: Work Sans;
								font-style: normal;
								font-weight: 600;
								font-size: 31.25px;
								line-height: 123.6%;
								color: #373737;
							}
						}
					}
					.mailToUs {
						text-align: left;
						transform: translateX(5%);
						h2 {
							font-family: Work Sans;
							font-style: normal;
							font-weight: 500;
							font-size: 20px;
							line-height: 123.6%;
							color: #7b7b7b;
						}
					}
				}
			}
			.callUs {
				display: flex;
				flex-direction: column;
				text-align: center;
				width: 370px;
				height: 230px;
				background: #ffffff;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
				.callUsBody {
					display: flex;
					flex-direction: row;
					.imgCall {
						transform: translate(20%, 10%);
						width: 75px;
						height: 75px;
						border-radius: 50%;
						background: #ff5300;
						box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
						img {
							transform: translateY(50%);
						}
					}
					.callService {
						display: flex;
						flex-direction: column;
						text-align: center;
						transform: translate(20%, -10%);
						h2 {
							font-family: Work Sans;
							font-style: normal;
							font-weight: 500;
							font-size: 25px;
							line-height: 123.6%;
							color: #ff5300;
						}
						h3 {
							transform: translateX(-10%);
							margin: 0;
							font-family: Work Sans;
							font-style: normal;
							font-weight: 600;
							font-size: 31.25px;
							line-height: 123.6%;
							color: #373737;
						}
					}
				}
			}
			.callToUs {
				text-align: left;
				transform: translateX(5%);
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 123.6%;
					color: #7b7b7b;
				}
				span {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 123.6%;
					color: red;
				}
			}
			.visitUs {
				display: flex;
				flex-direction: column;
				text-align: center;
				width: 370px;
				height: 230px;
				background: #ffffff;
				box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
				.visitUsBody {
					display: flex;
					flex-direction: row;
					.imgVisit {
						transform: translate(20%, 10%);
						width: 75px;
						height: 75px;
						border-radius: 50%;
						background: #ff5300;
						box-shadow: 4px 5px 15px rgba(255, 83, 0, 0.4);
						img {
							transform: translateY(50%);
						}
					}
					.visitLocation {
						display: flex;
						flex-direction: column;
						text-align: center;
						transform: translate(20%, -10%);
						h2 {
							font-family: Work Sans;
							font-style: normal;
							font-weight: 500;
							font-size: 25px;
							line-height: 123.6%;
							color: #ff5300;
						}
						h3 {
							transform: translateX(9%);
							margin: 0;
							font-family: Work Sans;
							font-style: normal;
							font-weight: 600;
							font-size: 31.25px;
							line-height: 123.6%;
							color: #373737;
						}
					}
				}
			}
			.visitToUs {
				text-align: left;
				transform: translateX(5%);
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 123.6%;
					color: #7b7b7b;
				}
			}
		}
	}
	// Send Message

	.sendMessage {
		margin: 0 135px 0 42px;
		display: flex;
		flex-direction: row;
		transform: translateY(20%);
		justify-content: space-around;
		.inputForm {
			display: flex;
			flex-direction: column;
			.formMessage {
				display: flex;
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 31.25px;
					line-height: 123.6%;
					color: #373737;
				}
				span {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 600;
					font-size: 31.25px;
					line-height: 123.6%;
					color: red;
				}
			}
			.inputnameEmail {
				display: flex;
				flex-direction: row;
				.inputSize {
					margin: 1%;
					width: 330px;
					height: 60px;
					background: #ffffff;
					box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #7b7b7b;
					padding-left: 5%;
				}
			}
			.inputmobileSub {
				display: flex;
				flex-direction: row;
				.inputSize {
					margin: 1%;
					width: 330px;
					height: 65px;
					background: #ffffff;
					box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #7b7b7b;
					padding-left: 5%;
				}
			}
			.inputSendMessage {
				display: flex;
				flex-direction: column;
				transform: translateX(1%);
				.inputSend {
					width: 620px;
					height: 163px;
					background: #ffffff;
					box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #7b7b7b;
					padding-left: 5%;
				}
			}
			.buttonContact {
				transform: translate(4%, 10%);
				font-family: Work Sans;
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 123.6%;
				color: #ffffff;
			}
		}
	}
	// Maps San Mateo
	.mapsPage {
		transform: translateY(20%);
		display: flex;
		margin: 135px 40px 135px 40px;
	}
	// Medals
	.medals {
		transform: translateY(40%);
		display: flex;
		margin: 135px 40px 135px 40px;
		flex-direction: row;
		text-align: center;
		justify-content: space-around;
	}
	// Footer
	.footer {
		background: #373737;
		.footerBody {
			display: flex;
			text-align: center;
			justify-content: space-around;
			margin: 60px 40px 52px 40px;
			.digiency {
				transform: translateY(8%);
				width: 155px;
				height: 171px;
				height: 291px;
				h2 {
					margin: 10% 0;
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #ffffff;
				}
				.digiencySocial {
					.digiencySocialIcon {
						display: flex;
						flex-direction: row;
						text-align: center;
						.socButton {
							margin: 5%;
							width: 30px;
							height: 30px;
							background: #ffffff;
							img {
								transform: translateY(25%);
							}
						}
						.socFb {
							background: #ff5300;
						}
					}
				}
			}
			.footerCompany {
				display: flex;
				flex-direction: column;
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 123.6%;
					color: #ffffff;
				}
				a {
					margin: 5%;
					text-decoration: none;
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #ffffff;
				}
			}
			.footerServices {
				display: flex;
				flex-direction: column;
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 123.6%;
					color: #ffffff;
				}
				a {
					margin: 5% 0%;
					text-decoration: none;
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #ffffff;
				}
			}
			.footerNews {
				display: flex;
				flex-direction: column;
				width: 154px;
				height: 179px;
				h2 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					line-height: 123.6%;
					color: #ffffff;
				}
				h3 {
					font-family: Work Sans;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 150.6%;
					color: #ffffff;
				}
				.inputFooter {
					margin: 6% 0;
					display: flex;
					flex-direction: row;
					width: 200px;
					height: 42px;
					border: 1px solid #ff5300;
					box-sizing: border-box;
					background: #373737;
					.inputFoot {
						background: #373737;
						font-family: Work Sans;
						font-style: normal;
						font-weight: normal;
						font-size: 12.8px;
						line-height: 123.6%;
						text-transform: capitalize;
						color: #7b7b7b;
					}
					.imgLogoSend {
						position: relative;
						display: flex;
						width: 45px;
						height: 40px;
						background: #ff5300;
						img {
							position: absolute;
							display: flex;
							margin-left: 25%;
							margin-top: 30%;
							transform: 50%;
							width: 15px;
							height: 15px;
						}
					}
				}
			}
		}
	}
	.copyright {
		display: flex;
		background: #ff5300;
		display: flex;
		text-align: center;
		justify-content: space-between;
		padding: 5px 150px 5px 160px;
		.copy {
			display: flex;
			flex-direction: row;
			img {
				transform: translateY(70%);
				width: 20px;
				height: 20px;
			}
			h2 {
				transform: translateX(5%);
				font-family: Work Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 150.6%;
				color: #ffffff;
			}
		}
		.copyTop {
			img {
				transform: translateY(40%);
				width: 33px;
				height: 33px;
			}
		}
	}
}
@media (max-width: 1150px) {
	.container {
		overflow: hidden;
		margin: 0;
		.digitalText {
			.bestDigital {
				width: 100%;
				h1 {
					font-size: 36px;
				}
				span {
					font-size: 36px;
				}
			}
			.bestDigitalIcon {
				width: 80%;
			}
		}
		.ideaEveryone {
			.ideasBetter {
				.ideasBetter {
					.betterImg {
						img {
							width: 60%;
						}
					}
				}
			}
		}
		.ourWork {
			width: 80%;
			.projectsImg {
				img {
					width: 90%;
				}
			}
		}
		.freeContact {
			margin-left: 5%;
			.sendMessage {
				margin: 0;
				.sendImg {
					width: 80%;
				}
				.inputForm {
					width: 60%;
					.inputSendMessage {
						.inputSend {
							width: 438px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 880px) {
	.container {
		.digitalText {
			.bestDigital {
				transform: translateY(-10%);
			}
		}
		.bestDigitalIcon {
			transform: translateX(-15%);
			width: 95%;
		}
		.ideaEveryone {
			.ideasBetter {
				width: 55%;
			}
			.forWhat {
				transform: translateX(50%);
				width: 50%;
				.blockWhat {
					margin: 3%;
				}
			}
		}
		.expereinceTop {
			.blocked {
				transform: translateY(20%);
			}
		}
		.membersTeam {
			overflow: hidden;
			transform: translateY(30%);
			.peoplesFace {
				transform: translateX(18%);
				.peopleBlock {
					margin: 1%;
				}
			}
		}
		.ourWork {
			transform: translate(-8%, 10%);
		}
		.feedBack {
			.peopleFeedback {
				.people {
					margin: 5%;
					width: 50%;
					.peopleText {
						h3 {
							transform: translateX(-32%);
						}
						.manDir {
							transform: translateX(-25%);
						}
					}
				}
			}
		}
		.blogLatest {
			.blogBody {
				.blogBlock {
					flex-direction: column;
				}
			}
		}
		.freeContact {
			margin: 0;
			.contactBody {
				margin: 0;
				.blockContacts {
					transform: translateX(-2%);
					margin: 0;
					.messageBlock {
						.mailDrop {
							margin: 1%;
						}
						.callUs {
							margin: 1%;
						}
					}
				}
			}
			.sendMessage {
				transform: translateX(17%);
				flex-direction: column;
				.inputForm {
					transform: translateX(17%);
				}
			}
		}
	}
}
@media (max-width: 740px) {
	.container {
		.digitalAgency {
			.navigationBar {
				.navigation {
					display: none;
				}
			}
			.digitalText {
				.bestDigitalIcon {
					img {
						width: 340px;
					}
				}
				.digitalSocialIcon {
					display: none;
				}
			}
		}
		.ideaEveryone {
			.ideasBetter {
				.betterImg {
					img {
						width: 350px;
					}
				}
			}
		}
		.expereinceTop {
			.expBody {
				.blocked {
					transform: translateY(-13%);
					flex-direction: column;
				}
			}
		}
		.membersTeam {
			.peoplesFace {
				transform: translateX(53%);
				.peopleBlock {
					margin: 8%;
				}
			}
		}
		.freeContact {
			transform: translateX(-0.5%);
			.contactBody {
				.blockContacts {
					.messageBlock {
						flex-direction: column;
						transform: translateX(27%);
					}
				}
			}
		}
		.medals {
			img {
				width: 25%;
			}
		}
	}
}
@media (max-width: 550px) {
	.container {
		.digitalText {
			.bestDigitalIcon {
				transform: translateX(-30%);
				width: 70%;
			}
		}
		.ideaEveryone {
			.ideasBetter {
				.betterImg {
					width: 80%;
					transform: translateX(-50%);
				}
			}
		}
		.forWhat {
			flex-direction: column;
			.blockWhat {
				margin: 50px;
			}
		}
		.membersTeam {
			.peoplesFace {
				flex-direction: row;
				transform: translateX(150%);
				.peopleBlock {
					margin: 25%;
				}
			}
		}
		.ourWork {
			transform: translateX(-20%);
		}
		.feedBack {
			.peopleFeedback {
				.people {
					.peopleText {
						transform: translateY(-5%);
						h3 {
							transform: translateX(-13%);
						}
						h4 {
							margin: 0;
							font-size: 10px;
						}
					}
				}
			}
		}
		.blogLatest {
			.blogBody {
				.blogBlock {
					transform: translateX(-20%);
					width: 490px;
				}
			}
		}
		.freeContact {
			.contactBody {
				.blockContacts {
					transform: translateX(-12%);
				}
			}
			.sendMessage {
				transform: translateX(-10%);
				.inputForm {
					transform: translateX(30%);
					.inputSendMessage {
						.inputSend {
							width: 424px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 450px) {
	.container {
		margin: 0;
		.blogPage {
			flex-direction: column;
			align-items: center;
			.newsPage {
				width: 100%;
			}
		}
	}
	.footer {
		overflow: hidden;
		.footerBody {
			flex-direction: column;
			width: 99%;
			text-align: left;
			.digiency {
				width: 90%;
				height: 200px;
				margin: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				h2 {
					transform: translateX(-10%);
					margin: 0 0 5px 0;
				}
				.socButton {
					width: 80px;
					height: 80px;
				}
			}
			.footerCompany {
				transform: translateY(-10%);
				text-align: left;
				a {
					transform: translateX(-5%);
					margin: 5px 0 5px 0;
				}
			}
			.footerServices {
				text-align: left;
			}
			.footerNews {
				width: 90%;
				height: 200px;
				margin: 0;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				h3 {
					transform: translateX(-10%);
					margin: 0;
				}
				.inputFooter {
					margin: 0;
				}
			}
		}
	}
	.copyright {
		overflow: hidden;
		width: 60%;
		transform: translateX(-16%);
		.copyTop {
			transform: translateX(250%);
		}
	}
}
@media (max-width: 449px) {
	.container {
		.digitalText {
			flex-direction: column-reverse;
			.bestDigital {
				transform: translateX(-28%);
			}
			.bestDigitalIcon {
				transform: translate(30%, 30%);
			}
		}
		.ideaEveryone {
			.ideasBetter {
				flex-direction: column;
				.betterImg {
					transform: translate(-40%, -100%);
				}
				.ideasText {
					transform: translateX(-10%);
				}
			}
		}
		.forWhat {
			.blockWhat {
				transform: translateX(-10%);
			}
		}
		.expereinceTop {
			.expBody {
				flex-direction: column;
				.blocked {
					transform: translateY(10%);
				}
			}
		}
		.membersTeam {
			.peoplesFace {
				.peopleBlock {
					transform: translateX(32%);
				}
			}
		}
		.ourWork {
			.workBody {
				.projectsImg {
					flex-direction: column;
					transform: translateY(-0.5%);
				}
			}
		}
		.blogLatest {
			.blogBody {
				.blogBlock {
					.blogMenu {
						width: 80%;
						transform: translateX(-5%);
						.blogText {
							.blogImg2 {
								img {
									width: 50px;
									height: 50px;
								}
							}
							.blogImg {
								img {
									width: 50%;
									height: 50%;
								}
							}
						}
					}
				}
			}
		}
		.freeContact {
			.contactBody {
				.blockContacts {
					transform: translateX(-20%);
				}
			}
			.sendMessage {
				.sendImg {
					transform: translateX(30%);
					img {
						width: 350px;
					}
				}
				.inputForm {
					.inputSize {
						width: 150px;
					}
					.inputSendMessage {
						.inputSend {
							width: 320px;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 410px) {
	.copyright {
		overflow: hidden;
		width: 41%;
		transform: translateX(-16%);
	}
}
@media (max-width: 401px) {
	.copyright {
		margin-top: 10%;
		overflow: hidden;
		width: 55%;
		transform: translateX(-25%);
		.copy {
			transform: translateX(20%);
			word-wrap: break-word;
			img {
				display: none;
			}
		}
		.copyTop {
			display: none;
		}
	}
}
@media (max-width: 396px) {
	.copyright {
		overflow: hidden;
		width: 40%;
		transform: translateX(-16%);
	}
}
@media (max-width: 395px) {
	.container {
		.digitalText {
			.bestDigital {
				width: 80%;
			}
			.bestDigitalIcon {
				transform: translate(15%, 30%);
			}
		}
		.ideaEveryone {
			.ideasBetter {
				.betterImg {
					transform: translate(-70%, -120%);
				}
				.ideasText {
					transform: translateX(-10%);
				}
			}
		}
		.forWhat {
			.blockWhat {
				transform: translateX(-20%);
			}
		}
		.ourWork {
			transform: translateX(-30%);
		}
		.blogLatest {
			.blogBody {
				.blogBlock {
					.blogMenu {
						width: 80%;
						transform: translateX(-5%);
						.blogText {
							.blogImg2 {
								img {
									width: 50px;
									height: 50px;
								}
							}
							.blogImg {
								img {
									width: 70%;
									height: 60%;
								}
							}
						}
					}
				}
			}
		}
		.feedBack {
			.peopleFeedback {
				display: flex;
				flex-direction: column;
				.people {
					transform: translateX(8%);
					width: 80%;
				}
			}
		}
		.blogLatest {
			transform: translateY(20%);
			.blogBody {
				.blogBlock {
					.blogMenu {
						width: 70%;
						.blogText {
							h3 {
								width: 70%;
								font-size: 14px;
							}
						}
					}
				}
				.blogMenu2 {
					.blogImg2 {
						img {
							transform: translateX(-10%);
							width: 70%;
							height: 60%;
						}
					}
				}
			}
		}
		.freeContact {
			transform: translateY(5%);
		}
	}
}
@media (max-width: 325px) {
	.container {
		.digitalAgency {
			.digitalText {
				.bestDigitalIcon {
					transform: translateX(0%);
				}
			}
		}
		.ideaEveryone {
			.ideasBetter {
				.betterImg {
					img {
						transform: translateX(-12%);
					}
				}
				.ideasText {
					width: 300px;
					transform: translateX(-39%);
				}
			}
		}
		.membersTeam {
			.peoplesFace {
				.gustavoBlock {
					transform: translateX(60%);
				}
			}
		}
		.ourWork {
			.workBody {
				.headerWork {
					transform: translateX(-10%);
				}
				.projectsImg {
					transform: translateX(-10%);
				}
			}
		}
		.feedBack {
			.peopleFeedback {
				.people {
					.peopleText {
						h3 {
							transform: translateX(-21%);
						}
						.manDir {
							transform: translateX(-10%);
						}
					}
				}
			}
		}
		.blogLatest {
			.blogBody {
				.headerBlog {
					transform: translateX(-35%);
					width: 200px;
				}
			}
			.blogBlock {
				.blogMenu {
					.blogImg {
						transform: translateX(-25%);
					}
					.blogText {
						.textBlogMenu {
							.divTextAuthor {
								h4 {
									transform: translateX(10%);
								}
								h5 {
									transform: translateX(18%);
								}
							}
						}
					}
				}
			}
		}
		.freeContact {
			.contactBody {
				.blockContacts {
					.messageBlock {
						.visitUs {
							.visitToUs {
								transform: translateX(-1%);
							}
						}
					}
				}
			}
			.sendMessage {
				.sendImg {
					transform: translateX(-1%);
				}
				.inputForm {
					.inputSize {
						width: 120px;
					}
					.inputSend {
						width: 180px;
					}
				}
			}
		}
	}
}
